@{ 
    var controllerId = ViewContext.RouteData.Values["Controller"];
    var actionId = ViewContext.RouteData.Values["Action"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ML.Net Demo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        #upload-container {
            height: 165px;
            align-items: center;
            background-color: #fafafa;
            display: inline-flex;
            padding: 14px;
            border-radius: 4px;
            border: 1px silver solid;
            position: relative;
        }

        #upload-container * {
            margin: 0 3px;
        }

        #upload, #sentimentupload, #registerForm {
            display: flex;
        }

        #loader {
            display: none;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            border: 1px silver solid;
            z-index: 1;
            padding: 10px;
            justify-content: space-between;
            font-size: 35px;
            margin: 0;
        }

        #loader.show {
            display: flex;
        }

        #loader::after {
            content: "";
            background: url(/images/tenor.gif) center no-repeat;
            background-size: contain;
            width: 220px;
            height: 160px;
        }

        hr {
            margin: 50px 0;
        }

        body {
            display: flex;
            align-items: center;
            min-height: 100vh;
            overflow-x: hidden !important;
            padding: 40px 0;
        }

        main {
            border-radius: 8px;
            box-shadow: 0 0 35px rgba(0,0,0,0.25);
            position: relative;
        }

        main::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 100vh;
            height: 100vh;
            background: var(--color);
            top: 50%;
            left: 100%;
            -webkit-transform: translate(-200px,-50%);
            -moz-transform: translate(-200px,-50%);
            transform: translate(-100px,-50%);
            z-index: -1;
        }

        h1 {
            margin: 0 0 24px;
        }

        h2 {
            font-size: 24px;
        }

        .custom-nav__container {
            background: #013a55;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .custom-nav {
            text-align: center;
            margin-top: 40px;
        }

        .custom-nav a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 20px 0;
            border-top: 1px rgba(255,255,255,0.05) solid;
        }

        .custom-nav a.active {
            color: rgba(255,255,255,0.5);
            pointer-events: none;
        }

        .content__container {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .tabs {
            display: flex;
            counter-reset: countvar;
            text-align: center;
            margin: 0 -15px 50px;
            pointer-events: none;
        }

        .tabs li {
            position: relative;
            flex: 1;
        }

        .tabs li::before {
            counter-increment: countvar;
            content: counter(countvar);
            font-size: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: silver;
            color: #000;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .tabs li.active::before {
            background: var(--color);
            font-weight: bold;
        }

        .tabs li::after {
            content: "";
            width: 100%;
            height: 10px;
            background: silver;
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .tabs li.active::after {
            background: var(--color);
        }

        .tabs label {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }

        .tabs li.active label {
            font-weight: bold;
        }

        .tab--content {
            display: none;
            padding: 20px;
        }

        .tab--content:first-child {
            display: block;
        }

        .btn-custom {
            background: var(--color);
            border-color: var(--color);
            color: #fff;
            outline: none !important;
            margin-top: 50px;
        }

        .btn-inherit {
            background: var(--color);
            border-color: var(--color);
            color: #fff;
        }

        #trainResult {
            font-size: 20px;
        }

        /* THEME BASED STYLES*/
        #Semantic-Analysis__body .content__container {
            background: url(/images/performing-twitter-sentiment-analysis1.png) bottom right no-repeat;
            background-size: 350px;
        }

        #Semantic-Analysis__body main {
            --color: #6388b5;
        }

        #CreditCardFraudDetection-Default__body .content__container {
            background: url(/images/fraud-protection.png) bottom right no-repeat;
            background-size: 200px;
        }

        #CreditCardFraudDetection-Default__body main {
            --color: #d4604c;
        }

        #ImageClassification-Index__body .content__container {
            background: url(/images/pngtree-cartoon-character-classification-icon-image_1356878.png) bottom right no-repeat;
            background-size: 200px;
        }

        #ImageClassification-Index__body main {
            --color: #67f9f9;
        }

        #CamGoogle-Capture__body .content__container {
            background: url(/images/logo.png) bottom right no-repeat;
            background-size: 250px;
        }

        #CamGoogle-Capture__body main {
            --color: #ffcf49;
        }
    </style>
</head>
<body id="@(controllerId)-@(actionId)__body">
    <div class="container">
        <main role="main" class="row">
            <div class="col-3 custom-nav__container">
                <img src="~/images/logo.jpg" style="width:100%" />

                <ul class="custom-nav">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Semantic" asp-action="Analysis" id="Semantic-Analysis">Sentimental Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="CreditCardFraudDetection" asp-action="Default" id="CreditCardFraudDetection-Default">Credit Card Fraud Detection</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="ImageClassification" asp-action="Index" id="ImageClassification-Index">Image Classification</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="CamGoogle" asp-action="Capture" id="CamGoogle-Capture">Google Vision</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://localhost:44362/" target="_blank">Customer Segmentation</a>
                    </li>
                    <!-- ADD MORE HERE -->
                </ul>
            </div>

            <div class="col-9 content__container">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display: none">
        <div class="container-fluid">

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        var currentTabIndex = 0,
            tabButtons,
            tabContents;

        $(document).ready(function () {
            $("#formFile").change(function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = $("#divImageMediaPreview");
                    //dvPreview.html("");
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            //var img = $("<img />");
                            //img.attr("style", "width:500px; height:250px;");
                            //img.attr("src", e.target.result);
                            dvPreview.find('img').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(file[0]);
                    });
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            });

            tabButtons = $('.tabs li');
            tabContents = $('.tabs--content li');

            $('.btn-custom').on('click', function () {
                var skipAmount = $(this).data('skip');

                NextStep(skipAmount);
            });

            $("a#@controllerId-@actionId").addClass("active");
        });

        var NextStep = function (skipAmount) {
            skipAmount = skipAmount || 0;

            tabContents.eq(currentTabIndex).hide();

            currentTabIndex += (1 + skipAmount);

            tabButtons.eq(currentTabIndex).addClass('active');
            tabContents.eq(currentTabIndex).show();
        }
    </script>
</body>
</html>
