@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
        $sentimentupload = $('#registerForm'),
        $loader = $('#loader'),
        $primaryButton = $('.btn-primary'),
        $removeButton = $('#remove-button');

     function getannotation(type) {
            if (type == 1) {
                return "VeryUnlikely";
            }
            else if (type == 2) {
                return "Unlikely";
            }
            else if (type == 3) {
                return "Possible";
            }
            else if (type == 4) {
                return "Likely";
            }
            else if (type == 5) {
                return "VeryLikely";
            }
            else {
                return "Unknown";
            }
        }

    $sentimentupload.on('submit', function (e) {
        e.preventDefault(); // stop the standard form submission

        if ($(this).find('input[type="file"]').val() == '') {
            alert('Please select a file!');
            return;
        }
            $.ajax({
                url: '@Url.Action("CaptureImage", "CamGoogle")',
                type: 'POST',
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $('#ResponseTable').empty();
                    if (data == false) {
                            alert("Photo Captured is not Proper!");
                            $('#ResponseTable').empty();
                        }
                        else {

                            if (data.length == 9) {
                                $('#ResponseTable').empty();
                                alert("Its not a Face!");
                            } else {
                                var count = 1;
                                var _faceAttributes = data.labels;


                                var _responsetable = "";
                                var _emotiontable = "";
                                _responsetable += '<div class="panel panel-default"><div class="panel-heading">Google Face API Response</div>';
                                _responsetable += "<div class='panel-body'>"
                                _responsetable += '<table class="table table-bordered"><thead><tr> <th>Description</th> <th>score</th></tr></thead>';
                                var labelTable='<table class="table table-bordered"><thead><tr> <th>Description</th> <th>score</th></tr></thead>';
                                for (var i = 0; i < _faceAttributes.length; i++) {

                                    labelTable += '<tr><td>' +
                                        _faceAttributes[i].description +
                                        '</td><td>' +
                                        _faceAttributes[i].score +
                                        '</td></tr>';


                                }
                                labelTable += "</table>"
                                $('#Section3').append(labelTable);
                                var textTable='<table class="table table-bordered"><thead><tr> <th>Description</th></tr></thead>';
                                for (var i = 0; i < data.texts.length; i++) {

                                    textTable += '<tr><td>' +
                                        data.texts[i].description +
                                        '</td></tr>';
                                }
                                textTable += "</table>"
                                $('#Section2').append(textTable);
                                 var faceTable='<table class="table table-bordered"><thead><tr> <th>Description</th> <th>score</th></tr></thead>';
                               
                                for (var i = 0; i < data.faceAnnotations.length; i++) {

                                    faceTable += '<tr><td>' + "Face" + '</td><td>' +
                                        count++ +
                                        '</td></tr>';

                                    faceTable += '<tr><td>' + "Joy" + '</td><td>' +
                                        getannotation(data.faceAnnotations[i].joyLikelihood) +
                                        '</td></tr>';

                                    faceTable += '<tr><td>' + "Anger" + '</td><td>' +
                                        getannotation(data.faceAnnotations[i].angerLikelihood) +
                                        '</td></tr>';

                                    faceTable += '<tr><td>' + "Sorrow" + '</td><td>' +
                                        getannotation(data.faceAnnotations[i].sorrowLikelihood) +
                                        '</td></tr>';

                                    faceTable += '<tr><td>' + "Surprise" + '</td><td>' +
                                        getannotation(data.faceAnnotations[i].surpriseLikelihood) +
                                        '</td></tr>';

                                    faceTable += '<tr><td>' + "detectionConfidence" + '</td><td>' +
                                        data.faceAnnotations[i].detectionConfidence +
                                        '</td></tr>';
                                    faceTable += '<tr><td>' + "landmarkingConfidence" + '</td><td>' +
                                        data.faceAnnotations[i].landmarkingConfidence +
                                        '</td></tr>';


                                    //              for (var j = 0; j < data.faceAnnotations[i].Landmarks.length; j++)
                                    //              {
                                    //                  _responsetable += '<tr><td>' + "type" + '</td><td>' +
                                    //                      data.faceAnnotations[i].Landmarks[j].Type +
                                    //'</td></tr>';
                                    //                  _responsetable += '<tr><td>' + "X position" + '</td><td>' +
                                    //                      data.faceAnnotations[i].Landmarks[j].Position.X +
                                    //'</td></tr>';
                                    //                  _responsetable += '<tr><td>' + "Y position" + '</td><td>' +
                                    //                      data.faceAnnotations[i].Landmarks[j].Position.Y +
                                    //'</td></tr>';
                                    //                  _responsetable += '<tr><td>' + "Z position" + '</td><td>' +
                                    //                      data.faceAnnotations[i].Landmarks[j].Position.Z+
                                    //'</td></tr>';


                                    //              }

                                }
                                 faceTable += "</table>"
                                $('#Section1').append(faceTable);
                                var saerchTable='<table class="table table-bordered"><thead><tr> <th>Description</th> <th>score</th></tr></thead>';
                               
                                

                                    saerchTable += '<tr><td>' + "Adult" + '</td><td>' +
                                        getannotation(data.searchAnnotations.adult) +
                                        '</td></tr>';

                                    saerchTable += '<tr><td>' + "Spoof" + '</td><td>' +
                                        getannotation(data.searchAnnotations.spoof) +
                                        '</td></tr>';

                                    saerchTable += '<tr><td>' + "Medical" + '</td><td>' +
                                        getannotation(data.searchAnnotations.medical) +
                                        '</td></tr>';

                                    saerchTable += '<tr><td>' + "Violence" + '</td><td>' +
                                        getannotation(data.searchAnnotations.violence) +
                                        '</td></tr>';
                                     saerchTable += '<tr><td>' + "Racy" + '</td><td>' +
                                        getannotation(data.searchAnnotations.racy) +
                                        '</td></tr>';
                                
                                 saerchTable += "</table>"
                                $('#Section4').append(saerchTable);
                                //_responsetable += "</table></div></div>"
                                //$('#ResponseTable').append(_responsetable);
                            }
                        }
                    },
                error: function (xhr, error, status) {
                    console.log(error, status);
                    alert('An error has occurred. Please try again!');

                   
                }
            });

           
        
    });

    $('#remove-button').on('click', function () {
        if (confirm("Are you sure you want to delete the trained model?")) {
            $.ajax({
                url: '@Url.Action("RemoveModel", "Home")'
            }).done(function (data) {
                if (data.status == 1) {
                    $form.hide();
                    $removeButton.hide();
                }
                else {
                    alert('Unable to delete model');
                }
            });
        }
    });
</script>