@model SentimentAnalysisML.Model.DataModels.ModelInput
@using MachineLearningDemo.Helpers

@{
    ViewData["Title"] = "Sentimental Analysis";
}
@{
    var result = ViewBag.Result;
}

<h1>Sentimental Analysis</h1>

<hr />

<h2>Model Training</h2>
<div id="upload-container">
    <form id="sentimentupload" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" id="fileUpload" style="padding: 3px" /><br />
        <button id="upload-button" class="btn btn-secondary">Upload!</button>
    </form>

    <button id="remove-button" class="btn btn-info">Remove Model</button>

    <div id="loader">Training: </div>
    <br />
    <h2 id="trainResult"></h2>
</div>

<hr />

<h2>Form Section</h2>

<div class="row">
    <div class="col-md-4">
        <form id="sentimentform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div id="result" style="display:none" class="col-md-offset-4 col-md-4">

        <h2>Result</h2>

        <h3 id="predictionh">Prediction: <span id="prediction"></span></h3>
        
        <h3>Score:<span id="score"></span></h3>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial-Semantic");}
}
