@page
@model IndexModel
@using Microsoft.ML.Data;
@using System.Linq;
@{
    ViewData["Title"] = "Customer Segmentation";
    var predictedCustomers = (List<MachineLearning.Models.PredictionResult>)ViewData["PredictedCustomers"];
    string avgScore = (string)ViewData["ClusteringMetrics"];
}

<style>
    #upload-container {
        height: 165px;
        align-items: center;
        background-color: #fafafa;
        display: inline-flex;
        padding: 14px;
        border-radius: 4px;
        border: 1px silver solid;
        position: relative;
    }

        #upload-container * {
            margin: 0 3px;
        }

    #upload {
        display: flex;
    }

    #loader {
        display: none;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        border: 1px silver solid;
        z-index: 1;
        padding: 10px;
        justify-content: space-between;
        font-size: 35px;
    }

        #loader.show {
            display: flex;
        }

        #loader::after {
            content: "";
            background: url(/images/tenor.gif) center no-repeat;
            background-size: contain;
            width: 220px;
            height: 160px;
        }

    h1 {
        margin-top: 50px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    hr {
        margin: 50px 0;
    }
</style>

<h1>Customer Segmentation</h1>
<hr />
<h2>Model Training</h2>
<div id="upload-container">
    <form method="post" action="" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" id="fileUpload" style="padding: 3px" /><br />
        <input type="submit" class="btn btn-secondary" name="train" value="Train Data" />
        <input type="submit" class="btn btn-primary" name="predict" value="Predict data" />
    </form>
    @if (!string.IsNullOrEmpty(avgScore))
    {
        <h2 id="trainResult">Avg Score : @avgScore</h2>
    }
    @*<button id="remove-button" class="btn btn-info">Remove Model</button>

        <div id="loader">Training: </div>
        <br />
        <h2 id="trainResult"></h2>*@
</div>

<hr />


    <br />
    @functions{
        public string GetClusterName(int cluster)
        {
            if (cluster == 1)
            {
                return "Single, Leaving, Sleeping, Novise with biggest monetary value but very rare (better than cluster 3)";
            }
            else if (cluster == 2)
            {
                return "Sleeping, Regular, VIP with biggest monetary value (our VIP customers)";
            }
            else if (cluster == 3)
            {
                return "Leaving, Sleeping with average monetary and frequency but very rare (a little bit better than cluster 4)";
            }
            else if (cluster == 4)
            {
                return "Lost, Single, Sleeping, Novise with small monetary value (the worst customers)";
            }
            else if (cluster == 5)
            {
                return "Regular (our regular customers)";
            }
            return string.Empty;
        }
    }

    @if (predictedCustomers != null)
    {
        var groupCustomers = predictedCustomers.GroupBy(x => x.Cluster);
        foreach (var group in groupCustomers)
        {
            <h2><b>Cluster @group.Key :</b>@GetClusterName(group.Key)</h2><br />
            foreach (var customer in group)
            {
                <p>@(customer.CustomerId) (R=@customer.R,F=@customer.F,M=@customer.M)</p>
            }

        }
    }


