@model MachineLearningDemo.Controllers.ImageModel
@{
    ViewBag.Title = "Image Classification Page";
}

<h1>Image Classification</h1>
<hr />
<h2>Model Training</h2>
<div id="upload-container">
    <form id="uploadTraining" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" id="fileUpload" style="padding: 3px" /><br />
        <button id="upload-button" class="btn btn-secondary">Upload!</button>
    </form>
</div>
<hr />

@using (Html.BeginForm("Index", "ImageClassification", FormMethod.Post,
                      new { enctype = "multipart/form-data" }))
{
    <input type="hidden" id="trainResult" />
    <div style="display:inline-block;">
        <h2>Please uploa vaild Document</h2>
        <div style="width:500px; height:250px; border-radius: 4px; border: 1px silver solid;" id="divImageMediaPreview">
            <img src="~/@(!string.IsNullOrEmpty(Model.ImagePath) ? Model.ImagePath : "assets/images/postcard.png")" style="width:498px; height:248px;" />


        </div>
        <div style="margin: 10px 0;">
            <input type="file" class="btn" name="formFile" id="formFile" style="display:inline-block;width: 370px;" />
            <input type="submit" class="btn btn-info" style="display:inline-block" value="Verify Image" />
        </div>

    </div>
    @if (!string.IsNullOrEmpty(Model.Predicted))
    {
        <div class="result">
            @if (Model.Predicted.Contains("wrong"))
            {
                <h3>Document Not Valid</h3>
            }
            else
            {
                <h3>Document Predicted As</h3>
                <h1>@(Model.Predicted.Contains("passport") ? "Passport" : "Emirates ID")</h1>
                <h3>Score</h3>
                <h1>@((Model.Score * 100).ToString("##")) %</h1>
            }

        </div>
    }
}
<style>
    .result h1 {
        margin: 10px 0;
        background: #767373;
        padding: 10px;
        color: #fff;
    }

    .result {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 50%;
        padding: 55px 50px;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial-Classification");}
}

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@