@model MachineLearningDemo.Controllers.ImageModel
@{
    ViewBag.Title = "Image Classification Page";
}
<div class="row">
    <div class="col-12">
        <section>
            <h1>Image Classification</h1>
        </section>

        <ul class="tabs">
            <li class="active">
                <label>Training the Model</label>
            </li>
            <li>
                <label>Consuming the Model</label>
            </li>
        </ul>
        <ul class="tabs--content">
            <li class="tab--content">
                <h2>Model Training</h2>
                <div id="upload-container">
                    <form id="uploadTraining" enctype="multipart/form-data">
                        <input type="file" name="file" class="form-control" id="fileUpload" style="padding: 3px" /><br />
                        <button id="upload-button" class="btn btn-secondary">Upload!</button>
                    </form>
                </div>
            </li>
            <li class="tab--content">
                <form id="uploadImage" enctype="multipart/form-data">
                    <input type="hidden" id="trainResult" />
                    <div style="display:inline-block;">
                        <h2>Please uploa vaild Document</h2>
                        <div style="width:500px; height:250px; border-radius: 4px; border: 1px silver solid;" id="divImageMediaPreview">
                            <img src="~/assets/images/postcard.png" id="imgCard" style="width:498px; height:248px;" />


                        </div>
                        <div style="margin: 10px 0;">
                            <input type="file" class="btn" name="formFile" id="formFile" style="display:inline-block;width: 370px;" />
                            <input type="submit" class="btn btn-info" style="display:inline-block" value="Verify Image" />
                        </div>

                    </div>
                    <div class="error">
                        <h3>Document Not Valid</h3>
                    </div>
                    <div class="result">
                            <h3>Document Predicted As</h3>
                            <h1 id="predicted"></h1>
                            <h3>Score</h3>
                            <h1 id="score"></h1>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
<style>
    .result h1 {
        margin: 10px 0;
        background: #767373;
        padding: 10px;
        color: #fff;
    }

    .result {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 50%;
        padding: 55px 50px;
    }
    .error, .result {
        display: none
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial-Classification");}
}










@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
