@model MachineLearningDemo.Models.TestDataViewModel
@using MachineLearningDemo.Helpers

@{
    ViewData["Title"] = "Home";
}

<h1>Demo Page</h1>

<hr />

<h2>Model Training</h2>
<div id="upload-container">
    <form id="upload" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" id="fileUpload" style="padding: 3px" /><br />
        <button id="upload-button" class="btn btn-secondary">Upload!</button>
    </form>

    <button id="remove-button" class="btn btn-info">Remove Model</button>

    <div id="loader">Training: </div>
</div>

<hr />

<h2>Form Section</h2>
<div class="row">
    <div class="col-12">
        <form id="form">
            <div class="row">
                @{
                    for (var x = 1; x <= 5; x++)
                    {
                        <div class="form-group col-12">
                            <label class="control-label">Form @(x)</label>
                            <input class="form-control" type="text" name="Form@(x)" />
                        </div>
                    }
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Predict" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
